/node_modules
/public/hot
/public/storage
/storage/*.key
/public/js
/public/css
/public/mix-manifest.json
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
public/mix-manifest.json
legacy/data/
legacy/output/
legacy/clients.csv
legacy/contacts.csv
legacy/users.csv
